.AlertBanner {
    margin: 0.8rem auto;
    box-shadow: 5px 5px 5px gray;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.AlertBanner-Message {
    /* border: 2px solid black; */
    margin: auto auto;
    padding: 0.5rem 0;
}

.success {
    box-shadow: 5px 5px 5px green;
    background-color: lightgreen;
}

.failure {
    box-shadow: 5px 5px 5px crimson;
    background-color: rgba(220, 20, 60, 0.500);
}

.warning {
    box-shadow: 5px 5px 5px yellowgreen;
    background-color: yellow;
}






